* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html
  {
    font-size: 25px;
    box-sizing: border-box;
  }
  body
  {
    /* background-color: lightsteelblue; */
    background-image: url(img.jpg);
    background-size: 100%;
    background-repeat: none;
    color: white;
  }
  header
  {
    position: relative;
    height: 35vh;
    border-bottom: 10px solid lightgoldenrodyellow;
  }
  h1
  {
    font-size: 50px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 30%;
    transform: translate(-50% -50%);
  }
  /* input
  {
    background-color: aliceblue;
    border: 5px solid red;
  } */
  .range
  {
    margin-top: 5%;
    font-size: 25px;
    position: absolute;
    top: 10%;
    right: 5rem;
  }
  .btn
  {
    margin-top: 12%;
    margin-left: 2%;
    /* border: 4px solid red; */
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 100%;
    padding: 20px 20px;
    cursor: pointer;
  }
  /* .btn:hover
  {
    background-color: lightblue;
  } */
  .check
  {
    /* border: 4px solid red; */
    border-radius: 25px;
    background-color: lightblue;
    color: black;
    font-size: 100%;
    padding: 15px 15px;
    cursor: pointer;
  }
  main
  {
    height: 350px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .left
  {
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right {
    width: 80%;
    font-size: 45px;
  }

  .number
  {
    background: white;
    color: black;
    font-size: 30px;
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
  }
  .guess
  {
    background: white;
    border: 2px solid black;
    /* color: inherit; */
    font-size: 25px;
    padding: 3% 3%;
    width: 150px;
    text-align: center;
    display: block;
    margin-bottom: 35px;
  }
  .msg
  {
    margin-bottom: 10%;
    height: 5%;
  }
  .score
  {
    margin-bottom: 10%;
  }